
<!DOCTYPE HTML>
<html lang="en">
    
<head>
        <title>Advice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
</head>

<body>

        <h1>First heading </h1>

	<form method="POST" action="/advice">
		<label> Enter Location for weather information of you area/city: </label>
		<input type="text" placeholder="kolhapur" name="location">
	</form>
	<br>
	
	{% if location %}

	<h3> Weather Data : </h3>
	<ul>
	{% for field , value in weather_data %}
		<li> {{ Field }} : {{ value }} </li>
	{% endfor %}
	</ul>

	<h3> advice : </h3>
	{{ advice }}

	{% endif %}
</body>

</html>
